NODE_ENV=development
REACT_APP_TEMPLATES=template1,template2
REACT_APP_FLIGHTS_REMOTE_MFE=http://localhost:4101
REACT_APP_HOTELS_REMOTE_MFE=http://localhost:4102
REACT_APP_BUS_REMOTE_MFE=http://localhost:4103
REACT_APP_TRAIN_REMOTE_MFE=http://localhost:4104
REACT_APP_DMC_REMOTE_MFE=http://localhost:4105
REACT_APP_MY_ACCOUNTS_REMOTE_MFE=http://localhost:4106
